@import "tailwindcss";

@theme {
    --color-primary: #00A7A3;
    --color-background: #F4F6F8;
    --color-secondary: #004B87;
    --color-text: #2C3E50;
    --color-border: #E5E7EB;
    --color-danger: #FF5252;
    --font-weight-600: 600;
    --text-h2: 42px;
    --text-very-small: 12px;
}

* {
    font-family: "Open Sans", sans-serif;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max {
    max-width: 90rem;
    margin: 0 auto;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item:hover {
    transform: translateX(4px);
    transition: transform 0.2s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #00A7A3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00A7A3;
}

/* animations.css */
@keyframes smoothTopBottom {

    0%,
    100% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(10%);
        animation-timing-function: ease-in;
    }
}

.smooth-animated-element {
    display: inline-block;
    /* Required for span elements */
    animation: smoothTopBottom 3s infinite;
    will-change: transform;
}