@import "tailwindcss";

@theme {
    --color-primary: #1d4ed8;
    --color-secondary: #f59e0b;
    --color-background: #f3f4f6;
    --color-text: #111827;
    --color-border: #e5e7eb;
    --color-accent: #2563eb;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}